@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MoreSugar';
  src: url('/fonts/MoreSugar-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
